html,body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea, th, td, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
  font-style: normal;
}

small {
  font-size: 12px
}

h1 {
  font-size: 18px
}

h2 {
  font-size: 16px
}

h3 {
  font-size: 14px
}

h4, h5, h6 {
  font-size: 100%
}

ul, ol {
  list-style: none
}

a {
  text-decoration: none;
  background-color: transparent
}

a:hover, a:active {
  outline-width: 0;
  text-decoration: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  border: 0;
  height: 1px
}

img {
  border-style: none
}

img:not([src]) {
  display: none
}

svg:not(:root) {
  overflow: hidden
}

html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%
}

input, textarea, button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

/*audio:not([controls]), video:not([controls]) {
display: none;
height: 0
}*/

progress {
  vertical-align: baseline
}

mark {
  background-color: #ff0;
  color: #000
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

input, select, textarea {
  font-size: 100%;
  outline: 0;
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

textarea {
  overflow: auto
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.clear:after {
  display: block;
  height: 0;
  content: "";
  clear: both
}

button {
  outline:none
}
.x_center{
  display: flex;
  justify-content: center;
}
.x_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.y_center{
  display: flex;
  align-items: center;
}
.xy_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {

  font-family: "Lato";
  
  src: url("https://pcsupport.lenovo.com/esv4/fonts/motofonts/Lato-Regular.eot?");
  
  src: url("https://pcsupport.lenovo.com/esv4/fonts/motofonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
  
  url("https://pcsupport.lenovo.com/esv4/fonts/motofonts/Lato-Regular.woff") format("woff"),
  
  url("https://pcsupport.lenovo.com/esv4/fonts/motofonts/Lato-Regular.ttf") format("truetype"),
  
  url("https://pcsupport.lenovo.com/esv4/fonts/motofonts/Lato-Regular.svg#Lato") format("svg");
  
  font-style: normal;
  
  font-weight: normal;
  
  font-display: swap;
  
  }
  ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    /* box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2); */
    background: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    background: #FAFAFA;
}
